<!DOCTYPE html>
<html>
  <head>
    <title>MyExpenses</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "frontend" %>
    <%= stylesheet_pack_tag "frontend" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
